### Download Sakila Dataset

In [1]:
!gsutil cp gs://cs327e-open-access/sakila.zip .

Copying gs://cs327e-open-access/sakila.zip...
/ [1 files][788.5 KiB/788.5 KiB]
Operation completed over 1 objects/788.5 KiB.

In [2]:
!unzip sakila.zip

Archive:  sakila.zip
   creating: sakila/
  inflating: sakila/.DS_Store
  inflating: __MACOSX/sakila/._.DS_Store
  inflating: sakila/sakila schema.png
  inflating: __MACOSX/sakila/._sakila schema.png
  inflating: sakila/sakila-data.sql
  inflating: __MACOSX/sakila/._sakila-data.sql
  inflating: sakila/sakila-database.sql
  inflating: __MACOSX/sakila/._sakila-database.sql

### Create Sakila Database and Database Objects

In [3]:
!mysql < /home/jupyter/Amaryllis/sakila/sakila-database.sql

### Populate the Tables

In [4]:
!mysql < /home/jupyter/Amaryllis/sakila/sakila-data.sql

### Get Row Count for each Table in the Sakila Database

In [5]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [6]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [7]:
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [8]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [10]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [11]:
!mysql sakila -e "select count(*) from film"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [12]:
!mysql sakila -e "select count(*) from film_actor"

+----------+
| count(*) |
+----------+
|     5462 |
+----------+

In [13]:
!mysql sakila -e "select count(*) from film_category"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [14]:
!mysql sakila -e "select count(*) from film_text"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [15]:
!mysql sakila -e "select count(*) from inventory"

+----------+
| count(*) |
+----------+
|     4581 |
+----------+

In [16]:
!mysql sakila -e "select count(*) from language"

+----------+
| count(*) |
+----------+
|        6 |
+----------+

In [17]:
!mysql sakila -e "select count(*) from payment"

+----------+
| count(*) |
+----------+
|    16049 |
+----------+

In [18]:
!mysql sakila -e "select count(*) from rental"

+----------+
| count(*) |
+----------+
|    16044 |
+----------+

In [19]:
!mysql sakila -e "select count(*) from staff"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [20]:
!mysql sakila -e "select count(*) from store"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

### Sample a Few Records from each Table

### Query a Table Using WHERE and ORDER BY

In [ ]:
# The query asks for all fields from the payment table in the sakila database where the customer ID is 333 and output ordered by the payment date in ascending order

In [21]:
!mysql sakila -e "select * from payment where customer_id = 333 order by payment_date"

+------------+-------------+----------+-----------+--------+---------------------+---------------------+
| payment_id | customer_id | staff_id | rental_id | amount | payment_date        | last_update         |
+------------+-------------+----------+-----------+--------+---------------------+---------------------+
|       8987 |         333 |        1 |         4 |   4.99 | 2005-05-24 23:04:41 | 2006-02-15 22:16:17 |
|       8988 |         333 |        1 |      1667 |   2.99 | 2005-06-16 10:18:59 | 2006-02-15 22:16:17 |
|       8989 |         333 |        1 |      2149 |   6.99 | 2005-06-17 22:50:00 | 2006-02-15 22:16:17 |
|       8990 |         333 |        1 |      2929 |   1.99 | 2005-06-20 04:47:39 | 2006-02-15 22:16:17 |
|       8991 |         333 |        1 |      3110 |   2.99 | 2005-06-20 17:40:12 | 2006-02-15 22:16:17 |
|       8992 |         333 |        2 |      5032 |   0.99 | 2005-07-09 02:39:47 | 2006-02-15 22:16:17 |
|       8993 |         333 |        1 |      5645 |   1.99 | 2005-07-10 06:58:21 | 2006-02-15 22:16:17 |
|       8994 |         333 |        2 |      5892 |   4.99 | 2005-07-10 20:02:42 | 2006-02-15 22:16:17 |
|       8995 |         333 |        2 |      6275 |   0.99 | 2005-07-11 16:12:11 | 2006-02-15 22:16:18 |
|       8996 |         333 |        2 |      6931 |   4.99 | 2005-07-26 23:02:57 | 2006-02-15 22:16:18 |
|       8997 |         333 |        2 |      6958 |   0.99 | 2005-07-27 00:02:41 | 2006-02-15 22:16:18 |
|       8998 |         333 |        2 |      7076 |   6.99 | 2005-07-27 04:12:14 | 2006-02-15 22:16:18 |
|       8999 |         333 |        2 |      7246 |   0.99 | 2005-07-27 10:30:41 | 2006-02-15 22:16:18 |
|       9000 |         333 |        1 |      8719 |   4.99 | 2005-07-29 17:45:45 | 2006-02-15 22:16:18 |
|       9001 |         333 |        2 |      9148 |   4.99 | 2005-07-30 10:39:10 | 2006-02-15 22:16:18 |
|       9002 |         333 |        2 |      9338 |  10.99 | 2005-07-30 18:03:13 | 2006-02-15 22:16:18 |
|       9003 |         333 |        2 |     10035 |   4.99 | 2005-07-31 18:46:46 | 2006-02-15 22:16:18 |
|       9004 |         333 |        1 |     10062 |   2.99 | 2005-07-31 19:24:55 | 2006-02-15 22:16:18 |
|       9005 |         333 |        2 |     10844 |   4.99 | 2005-08-01 23:46:58 | 2006-02-15 22:16:18 |
|       9006 |         333 |        1 |     12427 |   6.99 | 2005-08-18 10:24:17 | 2006-02-15 22:16:18 |
|       9007 |         333 |        2 |     12661 |   0.99 | 2005-08-18 19:10:10 | 2006-02-15 22:16:18 |
|       9008 |         333 |        1 |     13579 |   3.99 | 2005-08-20 05:22:06 | 2006-02-15 22:16:18 |
|       9009 |         333 |        2 |     13710 |   4.99 | 2005-08-20 09:35:20 | 2006-02-15 22:16:18 |
|       9010 |         333 |        1 |     14057 |   4.99 | 2005-08-20 22:22:59 | 2006-02-15 22:16:18 |
|       9011 |         333 |        1 |     14740 |   2.99 | 2005-08-21 22:35:33 | 2006-02-15 22:16:18 |
|       9012 |         333 |        2 |     15253 |   2.99 | 2005-08-22 18:05:21 | 2006-02-15 22:16:18 |
|       9013 |         333 |        1 |     15313 |   4.99 | 2005-08-22 19:59:42 | 2006-02-15 22:16:18 |
+------------+-------------+----------+-----------+--------+---------------------+---------------------+

### Add a Record Into a Table with INSERT

In [10]:
# Include a short comment above your SQL statement to describe the SQL

### Update One or More Records in a Table with UPDATE

In [ ]:
# Updated the name of cateory ID 4 from "Drama" to "Romance" in table category.

In [22]:
!mysql sakila -e "update category set name = 'Romance' where category_id = 4"

### Delete One or More Records from a Table with DELETE

In [ ]:
# Include a short comment above your SQL statement to describe the SQL