### Download and Extract the Pagila Dataset

In [1]:
!gsutil cp gs://cs327e-open-access/pagila.zip .

Copying gs://cs327e-open-access/pagila.zip...
/ [1 files][672.6 KiB/672.6 KiB]
Operation completed over 1 objects/672.6 KiB.

In [2]:
!unzip pagila.zip

Archive:  pagila.zip
   creating: pagila/
  inflating: __MACOSX/._pagila
  inflating: pagila/.DS_Store
  inflating: __MACOSX/pagila/._.DS_Store
  inflating: pagila/pagila-insert-data.sql
  inflating: __MACOSX/pagila/._pagila-insert-data.sql
  inflating: pagila/pagila-schema.sql
  inflating: __MACOSX/pagila/._pagila-schema.sql

### Create the Pagila Schema and Objects then Populate the Tables

In [ ]:
!psql -c "\i /home/jupyter/Amaryllis/pagila/pagila-schema.sql"

In [ ]:
!psql -c "\i /home/jupyter/Amaryllis/pagila/pagila-insert-data.sql"

### Describe each Table

In [8]:
!psql -c "\d pagila.actor"

                                              Table "pagila.actor"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 actor_id    | integer                  |           | not null | nextval('pagila.actor_actor_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "actor_pkey" PRIMARY KEY, btree (actor_id)
    "idx_actor_last_name" btree (last_name)
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.actor FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [9]:
!psql -c "\d pagila.address"

                                               Table "pagila.address"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 address_id  | integer                  |           | not null | nextval('pagila.address_address_id_seq'::regclass)
 address     | text                     |           | not null |
 address2    | text                     |           |          |
 district    | text                     |           | not null |
 city_id     | smallint                 |           | not null |
 postal_code | text                     |           |          |
 phone       | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "address_pkey" PRIMARY KEY, btree (address_id)
    "idx_fk_city_id" btree (city_id)
Foreign-key constraints:
    "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.store" CONSTRAINT "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.address FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [10]:
!psql -c "\d pagila.category"

                                               Table "pagila.category"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 category_id | integer                  |           | not null | nextval('pagila.category_category_id_seq'::regclass)
 name        | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "category_pkey" PRIMARY KEY, btree (category_id)
Referenced by:
    TABLE "pagila.film_category" CONSTRAINT "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.category FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [11]:
!psql -c "\d pagila.city"

                                             Table "pagila.city"
   Column    |           Type           | Collation | Nullable |                   Default
-------------+--------------------------+-----------+----------+----------------------------------------------
 city_id     | integer                  |           | not null | nextval('pagila.city_city_id_seq'::regclass)
 city        | text                     |           | not null |
 country_id  | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "city_pkey" PRIMARY KEY, btree (city_id)
    "idx_fk_country_id" btree (country_id)
Foreign-key constraints:
    "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.address" CONSTRAINT "address_city_id_fkey" FOREIGN KEY (city_id) REFERENCES pagila.city(city_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.city FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [12]:
!psql -c "\d pagila.country"

                                               Table "pagila.country"
   Column    |           Type           | Collation | Nullable |                      Default
-------------+--------------------------+-----------+----------+----------------------------------------------------
 country_id  | integer                  |           | not null | nextval('pagila.country_country_id_seq'::regclass)
 country     | text                     |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "country_pkey" PRIMARY KEY, btree (country_id)
Referenced by:
    TABLE "pagila.city" CONSTRAINT "city_country_id_fkey" FOREIGN KEY (country_id) REFERENCES pagila.country(country_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.country FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [13]:
!psql -c "\d pagila.customer"

                                                Table "pagila.customer"
   Column    |           Type           | Collation | Nullable |                        Default
-------------+--------------------------+-----------+----------+-------------------------------------------------------
 customer_id | integer                  |           | not null | nextval('pagila.customer_customer_id_seq1'::regclass)
 store_id    | smallint                 |           | not null |
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 email       | text                     |           |          |
 address_id  | smallint                 |           | not null |
 activebool  | boolean                  |           | not null | true
 create_date | date                     |           | not null | ('now'::text)::date
 last_update | timestamp with time zone |           |          | now()
 active      | integer                  |           |          |
Indexes:
    "customer_pkey" PRIMARY KEY, btree (customer_id)
    "idx_fk_address_id" btree (address_id)
    "idx_fk_store_id" btree (store_id)
    "idx_last_name" btree (last_name)
Foreign-key constraints:
    "customer_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.customer FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [14]:
!psql -c "\d pagila.film"

                                                  Table "pagila.film"
        Column        |           Type           | Collation | Nullable |                   Default
----------------------+--------------------------+-----------+----------+----------------------------------------------
 film_id              | integer                  |           | not null | nextval('pagila.film_film_id_seq'::regclass)
 title                | text                     |           | not null |
 description          | text                     |           |          |
 release_year         | pagila.year              |           |          |
 language_id          | smallint                 |           | not null |
 original_language_id | smallint                 |           |          |
 rental_duration      | smallint                 |           | not null | 3
 rental_rate          | numeric(4,2)             |           | not null | 4.99
 length               | smallint                 |           |          |
 replacement_cost     | numeric(5,2)             |           | not null | 19.99
 rating               | pagila.mpaa_rating       |           |          | 'G'::pagila.mpaa_rating
 last_update          | timestamp with time zone |           | not null | now()
 special_features     | text[]                   |           |          |
 fulltext             | tsvector                 |           | not null |
Indexes:
    "film_pkey" PRIMARY KEY, btree (film_id)
    "film_fulltext_idx" gist (fulltext)
    "idx_fk_language_id" btree (language_id)
    "idx_fk_original_language_id" btree (original_language_id)
    "idx_title" btree (title)
Foreign-key constraints:
    "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.film_actor" CONSTRAINT "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film_category" CONSTRAINT "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    film_fulltext_trigger BEFORE INSERT OR UPDATE ON pagila.film FOR EACH ROW EXECUTE PROCEDURE tsvector_update_trigger('fulltext', 'pg_catalog.english', 'title', 'description')
    last_updated BEFORE UPDATE ON pagila.film FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [15]:
!psql -c "\d pagila.film_actor"

                        Table "pagila.film_actor"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 actor_id    | smallint                 |           | not null |
 film_id     | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_actor_pkey" PRIMARY KEY, btree (actor_id, film_id)
    "idx_fk_film_id" btree (film_id)
Foreign-key constraints:
    "film_actor_actor_id_fkey" FOREIGN KEY (actor_id) REFERENCES pagila.actor(actor_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_actor_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_actor FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [16]:
!psql -c "\d pagila.film_category"

                      Table "pagila.film_category"
   Column    |           Type           | Collation | Nullable | Default
-------------+--------------------------+-----------+----------+---------
 film_id     | smallint                 |           | not null |
 category_id | smallint                 |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "film_category_pkey" PRIMARY KEY, btree (film_id, category_id)
Foreign-key constraints:
    "film_category_category_id_fkey" FOREIGN KEY (category_id) REFERENCES pagila.category(category_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "film_category_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.film_category FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [17]:
!psql -c "\d pagila.inventory"

                                                Table "pagila.inventory"
    Column    |           Type           | Collation | Nullable |                        Default
--------------+--------------------------+-----------+----------+--------------------------------------------------------
 inventory_id | integer                  |           | not null | nextval('pagila.inventory_inventory_id_seq'::regclass)
 film_id      | smallint                 |           | not null |
 store_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "inventory_pkey" PRIMARY KEY, btree (inventory_id)
    "idx_store_id_film_id" btree (store_id, film_id)
Foreign-key constraints:
    "inventory_film_id_fkey" FOREIGN KEY (film_id) REFERENCES pagila.film(film_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.inventory FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [18]:
!psql -c "\d pagila.language"

                                               Table "pagila.language"
   Column    |           Type           | Collation | Nullable |                       Default
-------------+--------------------------+-----------+----------+------------------------------------------------------
 language_id | integer                  |           | not null | nextval('pagila.language_language_id_seq'::regclass)
 name        | character(20)            |           | not null |
 last_update | timestamp with time zone |           | not null | now()
Indexes:
    "language_pkey" PRIMARY KEY, btree (language_id)
Referenced by:
    TABLE "pagila.film" CONSTRAINT "film_language_id_fkey" FOREIGN KEY (language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.film" CONSTRAINT "film_original_language_id_fkey" FOREIGN KEY (original_language_id) REFERENCES pagila.language(language_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.language FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [19]:
!psql -c "\d pagila.payment"

                                               Table "pagila.payment"
    Column    |           Type           | Collation | Nullable |                      Default
--------------+--------------------------+-----------+----------+----------------------------------------------------
 payment_id   | integer                  |           | not null | nextval('pagila.payment_payment_id_seq'::regclass)
 customer_id  | smallint                 |           | not null |
 staff_id     | smallint                 |           | not null |
 rental_id    | integer                  |           | not null |
 amount       | numeric(5,2)             |           | not null |
 payment_date | timestamp with time zone |           | not null |
Indexes:
    "idx_fk_customer_id" btree (customer_id)
    "idx_fk_staff_id" btree (staff_id)

In [20]:
!psql -c "\d pagila.rental"

                                               Table "pagila.rental"
    Column    |           Type           | Collation | Nullable |                     Default
--------------+--------------------------+-----------+----------+--------------------------------------------------
 rental_id    | integer                  |           | not null | nextval('pagila.rental_rental_id_seq'::regclass)
 rental_date  | timestamp with time zone |           | not null |
 inventory_id | integer                  |           | not null |
 customer_id  | smallint                 |           | not null |
 return_date  | timestamp with time zone |           |          |
 staff_id     | smallint                 |           | not null |
 last_update  | timestamp with time zone |           | not null | now()
Indexes:
    "rental_pkey" PRIMARY KEY, btree (rental_id)
    "idx_unq_rental_rental_date_inventory_id_customer_id" UNIQUE, btree (rental_date, inventory_id, customer_id)
    "idx_fk_inventory_id" btree (inventory_id)
Foreign-key constraints:
    "rental_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES pagila.customer(customer_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_inventory_id_fkey" FOREIGN KEY (inventory_id) REFERENCES pagila.inventory(inventory_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.rental FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [21]:
!psql -c "\d pagila.staff"

                                              Table "pagila.staff"
   Column    |           Type           | Collation | Nullable |                    Default
-------------+--------------------------+-----------+----------+------------------------------------------------
 staff_id    | integer                  |           | not null | nextval('pagila.staff_staff_id_seq'::regclass)
 first_name  | text                     |           | not null |
 last_name   | text                     |           | not null |
 address_id  | smallint                 |           | not null |
 email       | text                     |           |          |
 store_id    | smallint                 |           | not null |
 active      | boolean                  |           | not null | true
 username    | text                     |           | not null |
 password    | text                     |           |          |
 last_update | timestamp with time zone |           | not null | now()
 picture     | bytea                    |           |          |
Indexes:
    "staff_pkey" PRIMARY KEY, btree (staff_id)
Foreign-key constraints:
    "staff_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
    "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Referenced by:
    TABLE "pagila.rental" CONSTRAINT "rental_staff_id_fkey" FOREIGN KEY (staff_id) REFERENCES pagila.staff(staff_id) ON UPDATE CASCADE ON DELETE RESTRICT
Triggers:
    last_updated BEFORE UPDATE ON pagila.staff FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

In [22]:
!psql -c "\d pagila.store"

                                                Table "pagila.store"
      Column      |           Type           | Collation | Nullable |                    Default
------------------+--------------------------+-----------+----------+------------------------------------------------
 store_id         | integer                  |           | not null | nextval('pagila.store_store_id_seq'::regclass)
 manager_staff_id | smallint                 |           | not null |
 address_id       | smallint                 |           | not null |
 last_update      | timestamp with time zone |           | not null | now()
Indexes:
    "store_pkey" PRIMARY KEY, btree (store_id)
    "idx_unq_manager_staff_id" UNIQUE, btree (manager_staff_id)
Foreign-key constraints:
    "store_address_id_fkey" FOREIGN KEY (address_id) REFERENCES pagila.address(address_id) ON UPDATE CASCADE ON DELETE RESTRICT
Referenced by:
    TABLE "pagila.customer" CONSTRAINT "customer_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.inventory" CONSTRAINT "inventory_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id) ON UPDATE CASCADE ON DELETE RESTRICT
    TABLE "pagila.staff" CONSTRAINT "staff_store_id_fkey" FOREIGN KEY (store_id) REFERENCES pagila.store(store_id)
Triggers:
    last_updated BEFORE UPDATE ON pagila.store FOR EACH ROW EXECUTE PROCEDURE pagila.last_updated()

### 3 INNER JOIN Queries Between Two or More Tables with WHERE and ORDER BY

In [ ]:
# LIMIT clause if output > 10 rows
# include MARKDOWN comment above each SQL statement

### 3 OUTER JOIN Queries Between Two or More Tables with WHERE and ORDER BY

#### Left outer join between tables customer and rental displaying rental_id and inventory_id based on customer_id where the staff_id is 1. All records are listed in ascending order by rental_id and limited by 10.

In [39]:
!psql -c "SELECT rental_id, inventory_id FROM pagila.customer LEFT JOIN pagila.rental ON pagila.customer.customer_id = pagila.rental.customer_id WHERE staff_id = 1 ORDER BY rental_id LIMIT 10"

 rental_id | inventory_id
-----------+--------------
         1 |          367
         2 |         1525
         3 |         1711
         5 |         2079
         6 |         2792
         9 |         2580
        13 |         2294
        14 |         2701
        15 |         3049
        17 |          830
(10 rows)

#### Right outer join between tables film_actor and film followed by a left outer join with table actor based on film_id and actor_id. Table displays 10 records where actor_id is greater than 30 and is ordered by film titles.

In [48]:
!psql -c "SELECT title, pagila.actor.actor_id, last_name, first_name FROM pagila.film_actor RIGHT JOIN pagila.film ON pagila.film_actor.film_id = pagila.film.film_id LEFT OUTER JOIN pagila.actor ON pagila.film_actor.actor_id = pagila.actor.actor_id WHERE pagila.actor.actor_id > 30 ORDER BY pagila.film.title LIMIT 10"

      title       | actor_id | last_name | first_name
------------------+----------+-----------+------------
 ACADEMY DINOSAUR |      198 | KEITEL    | MARY
 ACADEMY DINOSAUR |      188 | DUKAKIS   | ROCK
 ACADEMY DINOSAUR |      162 | KILMER    | OPRAH
 ACADEMY DINOSAUR |      108 | NOLTE     | WARREN
 ACADEMY DINOSAUR |       53 | TEMPLE    | MENA
 ACADEMY DINOSAUR |       40 | CAGE      | JOHNNY
 ACE GOLDFINGER   |      160 | DEPP      | CHRIS
 ACE GOLDFINGER   |       90 | GUINESS   | SEAN
 ACE GOLDFINGER   |       85 | ZELLWEGER | MINNIE
 ADAPTATION HOLES |      123 | DENCH     | JULIANNE
(10 rows)

### Full Outer Join

 #### Full outer join between tables store and inventory based on store_id where inventory_id is greater than 50. The query is limited to 10 records and ordered by inventory_id in ascending order.

In [52]:
!psql -c "SELECT inventory_id, pagila.store.store_id, manager_staff_id FROM pagila.store FULL JOIN pagila.inventory ON pagila.store.store_id = pagila.inventory.store_id WHERE pagila.inventory.inventory_id > 50 ORDER BY inventory_id LIMIT 10"

 inventory_id | store_id | manager_staff_id
--------------+----------+------------------
           51 |        2 |                2
           52 |        2 |                2
           53 |        1 |                1
           54 |        1 |                1
           55 |        1 |                1
           56 |        1 |                1
           57 |        2 |                2
           58 |        2 |                2
           59 |        2 |                2
           60 |        1 |                1
(10 rows)

### 1 SELF JOIN Query

In [ ]:
# LIMIT clause if output > 10 rows
# include MARKDOWN comment above each SQL statement

### Sampling Each Table for ERD and Queries: feel free to use this to figure out queries

In [2]:
!psql -c "select * from pagila.actor limit 30"

 actor_id | first_name |  last_name   |      last_update
----------+------------+--------------+------------------------
        1 | PENELOPE   | GUINESS      | 2017-02-15 09:34:33+00
        2 | NICK       | WAHLBERG     | 2017-02-15 09:34:33+00
        3 | ED         | CHASE        | 2017-02-15 09:34:33+00
        4 | JENNIFER   | DAVIS        | 2017-02-15 09:34:33+00
        5 | JOHNNY     | LOLLOBRIGIDA | 2017-02-15 09:34:33+00
        6 | BETTE      | NICHOLSON    | 2017-02-15 09:34:33+00
        7 | GRACE      | MOSTEL       | 2017-02-15 09:34:33+00
        8 | MATTHEW    | JOHANSSON    | 2017-02-15 09:34:33+00
        9 | JOE        | SWANK        | 2017-02-15 09:34:33+00
       10 | CHRISTIAN  | GABLE        | 2017-02-15 09:34:33+00
       11 | ZERO       | CAGE         | 2017-02-15 09:34:33+00
       12 | KARL       | BERRY        | 2017-02-15 09:34:33+00
       13 | UMA        | WOOD         | 2017-02-15 09:34:33+00
       14 | VIVIEN     | BERGEN       | 2017-02-15 09:34:33+00
       15 | CUBA       | OLIVIER      | 2017-02-15 09:34:33+00
       16 | FRED       | COSTNER      | 2017-02-15 09:34:33+00
       17 | HELEN      | VOIGHT       | 2017-02-15 09:34:33+00
       18 | DAN        | TORN         | 2017-02-15 09:34:33+00
       19 | BOB        | FAWCETT      | 2017-02-15 09:34:33+00
       20 | LUCILLE    | TRACY        | 2017-02-15 09:34:33+00
       21 | KIRSTEN    | PALTROW      | 2017-02-15 09:34:33+00
       22 | ELVIS      | MARX         | 2017-02-15 09:34:33+00
       23 | SANDRA     | KILMER       | 2017-02-15 09:34:33+00
       24 | CAMERON    | STREEP       | 2017-02-15 09:34:33+00
       25 | KEVIN      | BLOOM        | 2017-02-15 09:34:33+00
       26 | RIP        | CRAWFORD     | 2017-02-15 09:34:33+00
       27 | JULIA      | MCQUEEN      | 2017-02-15 09:34:33+00
       28 | WOODY      | HOFFMAN      | 2017-02-15 09:34:33+00
       29 | ALEC       | WAYNE        | 2017-02-15 09:34:33+00
       30 | SANDRA     | PECK         | 2017-02-15 09:34:33+00
(30 rows)

In [13]:
!psql -c "select address_id, city_id from pagila.address order by city_id limit 30"

 address_id | city_id
------------+---------
         56 |       1
        105 |       2
        457 |       3
        491 |       4
        332 |       5
        397 |       6
        214 |       7
        372 |       8
        302 |       9
        580 |      10
        484 |      11
        102 |      12
         74 |      13
        596 |      14
        400 |      15
        422 |      16
         37 |      17
        179 |      18
        419 |      19
        364 |      20
        557 |      21
        229 |      22
        420 |      23
        540 |      24
        312 |      25
        233 |      26
         49 |      27
        220 |      28
        141 |      29
         81 |      30
(30 rows)

In [4]:
!psql -c "select * from pagila.category limit 30"

 category_id |    name     |      last_update
-------------+-------------+------------------------
           1 | Action      | 2017-02-15 09:46:27+00
           2 | Animation   | 2017-02-15 09:46:27+00
           3 | Children    | 2017-02-15 09:46:27+00
           4 | Classics    | 2017-02-15 09:46:27+00
           5 | Comedy      | 2017-02-15 09:46:27+00
           6 | Documentary | 2017-02-15 09:46:27+00
           7 | Drama       | 2017-02-15 09:46:27+00
           8 | Family      | 2017-02-15 09:46:27+00
           9 | Foreign     | 2017-02-15 09:46:27+00
          10 | Games       | 2017-02-15 09:46:27+00
          11 | Horror      | 2017-02-15 09:46:27+00
          12 | Music       | 2017-02-15 09:46:27+00
          13 | New         | 2017-02-15 09:46:27+00
          14 | Sci-Fi      | 2017-02-15 09:46:27+00
          15 | Sports      | 2017-02-15 09:46:27+00
          16 | Travel      | 2017-02-15 09:46:27+00
(16 rows)

In [14]:
!psql -c "select * from pagila.city order by country_id limit 30"

 city_id |         city         | country_id |      last_update
---------+----------------------+------------+------------------------
     251 | Kabul                |          1 | 2017-02-15 09:45:25+00
     483 | Skikda               |          2 | 2017-02-15 09:45:25+00
      63 | Bchar                |          2 | 2017-02-15 09:45:25+00
      59 | Batna                |          2 | 2017-02-15 09:45:25+00
     516 | Tafuna               |          3 | 2017-02-15 09:45:25+00
     360 | Namibe               |          4 | 2017-02-15 09:45:25+00
      67 | Benguela             |          4 | 2017-02-15 09:45:25+00
     493 | South Hill           |          5 | 2017-02-15 09:45:25+00
     567 | Vicente Lpez         |          6 | 2017-02-15 09:45:25+00
     524 | Tandil               |          6 | 2017-02-15 09:45:25+00
     457 | Santa F              |          6 | 2017-02-15 09:45:25+00
     454 | San Miguel de Tucumn |          6 | 2017-02-15 09:45:25+00
     424 | Quilmes              |          6 | 2017-02-15 09:45:25+00
     334 | Merlo                |          6 | 2017-02-15 09:45:25+00
     289 | La Plata             |          6 | 2017-02-15 09:45:25+00
     165 | Ezeiza               |          6 | 2017-02-15 09:45:25+00
     161 | Escobar              |          6 | 2017-02-15 09:45:25+00
     128 | Crdoba               |          6 | 2017-02-15 09:45:25+00
      45 | Baha Blanca          |          6 | 2017-02-15 09:45:25+00
      43 | Avellaneda           |          6 | 2017-02-15 09:45:25+00
      20 | Almirante Brown      |          6 | 2017-02-15 09:45:25+00
     586 | Yerevan              |          7 | 2017-02-15 09:45:25+00
     576 | Woodridge            |          8 | 2017-02-15 09:45:25+00
     447 | Salzburg             |          9 | 2017-02-15 09:45:25+00
     307 | Linz                 |          9 | 2017-02-15 09:45:25+00
     186 | Graz                 |          9 | 2017-02-15 09:45:25+00
     505 | Sumqayit             |         10 | 2017-02-15 09:45:25+00
      48 | Baku                 |         10 | 2017-02-15 09:45:25+00
      14 | al-Manama            |         11 | 2017-02-15 09:45:25+00
     525 | Tangail              |         12 | 2017-02-15 09:45:25+00
(30 rows)

In [6]:
!psql -c "select * from pagila.country limit 30"

 country_id |                country                |      last_update
------------+---------------------------------------+------------------------
          1 | Afghanistan                           | 2017-02-15 09:44:00+00
          2 | Algeria                               | 2017-02-15 09:44:00+00
          3 | American Samoa                        | 2017-02-15 09:44:00+00
          4 | Angola                                | 2017-02-15 09:44:00+00
          5 | Anguilla                              | 2017-02-15 09:44:00+00
          6 | Argentina                             | 2017-02-15 09:44:00+00
          7 | Armenia                               | 2017-02-15 09:44:00+00
          8 | Australia                             | 2017-02-15 09:44:00+00
          9 | Austria                               | 2017-02-15 09:44:00+00
         10 | Azerbaijan                            | 2017-02-15 09:44:00+00
         11 | Bahrain                               | 2017-02-15 09:44:00+00
         12 | Bangladesh                            | 2017-02-15 09:44:00+00
         13 | Belarus                               | 2017-02-15 09:44:00+00
         14 | Bolivia                               | 2017-02-15 09:44:00+00
         15 | Brazil                                | 2017-02-15 09:44:00+00
         16 | Brunei                                | 2017-02-15 09:44:00+00
         17 | Bulgaria                              | 2017-02-15 09:44:00+00
         18 | Cambodia                              | 2017-02-15 09:44:00+00
         19 | Cameroon                              | 2017-02-15 09:44:00+00
         20 | Canada                                | 2017-02-15 09:44:00+00
         21 | Chad                                  | 2017-02-15 09:44:00+00
         22 | Chile                                 | 2017-02-15 09:44:00+00
         23 | China                                 | 2017-02-15 09:44:00+00
         24 | Colombia                              | 2017-02-15 09:44:00+00
         25 | Congo, The Democratic Republic of the | 2017-02-15 09:44:00+00
         26 | Czech Republic                        | 2017-02-15 09:44:00+00
         27 | Dominican Republic                    | 2017-02-15 09:44:00+00
         28 | Ecuador                               | 2017-02-15 09:44:00+00
         29 | Egypt                                 | 2017-02-15 09:44:00+00
         30 | Estonia                               | 2017-02-15 09:44:00+00
(30 rows)

In [20]:
!psql -c "select customer_id, store_id, address_id from pagila.customer order by address_id"

 customer_id | store_id | address_id
-------------+----------+------------
           1 |        1 |          5
           2 |        1 |          6
           3 |        1 |          7
           4 |        2 |          8
           5 |        1 |          9
           6 |        2 |         10
           7 |        1 |         11
           8 |        2 |         12
           9 |        2 |         13
          10 |        1 |         14
          11 |        2 |         15
          12 |        1 |         16
          13 |        2 |         17
          14 |        2 |         18
          15 |        1 |         19
          16 |        2 |         20
          17 |        1 |         21
          18 |        2 |         22
          19 |        1 |         23
          20 |        2 |         24
          21 |        1 |         25
          22 |        1 |         26
          23 |        2 |         27
          24 |        2 |         28
          25 |        1 |         29
          26 |        2 |         30
          27 |        2 |         31
          28 |        1 |         32
          29 |        2 |         33
          30 |        1 |         34
          31 |        2 |         35
          32 |        1 |         36
          33 |        2 |         37
          34 |        2 |         38
          35 |        2 |         39
          36 |        2 |         40
          37 |        1 |         41
          38 |        1 |         42
          39 |        1 |         43
          40 |        2 |         44
          41 |        1 |         45
          42 |        2 |         46
          43 |        2 |         47
          44 |        1 |         48
          45 |        1 |         49
          46 |        2 |         50
          47 |        1 |         51
          48 |        1 |         52
          49 |        2 |         53
          50 |        1 |         54
          51 |        1 |         55
          52 |        1 |         56
          53 |        1 |         57
          54 |        1 |         58
          55 |        2 |         59
          56 |        1 |         60
          57 |        2 |         61
          58 |        1 |         62
          59 |        1 |         63
          60 |        1 |         64
          61 |        2 |         65
          62 |        1 |         66
          63 |        1 |         67
          64 |        2 |         68
          65 |        2 |         69
          66 |        2 |         70
          67 |        1 |         71
          68 |        1 |         72
          69 |        2 |         73
          70 |        2 |         74
          71 |        1 |         75
          72 |        2 |         76
          73 |        2 |         77
          74 |        1 |         78
          75 |        2 |         79
          76 |        2 |         80
          77 |        2 |         81
          78 |        1 |         82
          79 |        1 |         83
          80 |        1 |         84
          81 |        1 |         85
          82 |        1 |         86
          83 |        1 |         87
          84 |        2 |         88
          85 |        2 |         89
          86 |        2 |         90
          87 |        1 |         91
          88 |        2 |         92
          89 |        1 |         93
          90 |        2 |         94
          91 |        2 |         95
          92 |        2 |         96
          93 |        1 |         97
          94 |        1 |         98
          95 |        2 |         99
          96 |        1 |        100
          97 |        2 |        101
          98 |        1 |        102
          99 |        2 |        103
         100 |        1 |        104
         101 |        1 |        105
         102 |        1 |        106
         103 |        1 |        107
         104 |        1 |        108
         105 |        1 |        109
         106 |        1 |        110
         107 |        1 |        111
         108 |        1 |        112
         109 |        2 |        113
         110 |        2 |        114
         111 |        1 |        115
         112 |        2 |        116
         113 |        2 |        117
         114 |        2 |        118
         115 |        1 |        119
         116 |        1 |        120
         117 |        1 |        121
         118 |        1 |        122
         119 |        1 |        123
         120 |        2 |        124
         121 |        1 |        125
         122 |        1 |        126
         123 |        2 |        127
         124 |        1 |        128
         125 |        1 |        129
         126 |        1 |        130
         127 |        2 |        131
         128 |        1 |        132
         129 |        1 |        133
         130 |        1 |        134
         131 |        2 |        135
         132 |        2 |        136
         133 |        1 |        137
         134 |        1 |        138
         135 |        2 |        139
         136 |        2 |        140
         137 |        2 |        141
         138 |        1 |        142
         139 |        1 |        143
         140 |        1 |        144
         141 |        1 |        145
         142 |        1 |        146
         143 |        1 |        147
         144 |        1 |        148
         145 |        1 |        149
         146 |        1 |        150
         147 |        2 |        151
         148 |        1 |        152
         149 |        1 |        153
         150 |        2 |        154
         151 |        2 |        155
         152 |        1 |        156
         153 |        2 |        157
         154 |        2 |        158
         155 |        1 |        159
         156 |        1 |        160
         157 |        2 |        161
         158 |        1 |        162
         159 |        1 |        163
         160 |        2 |        164
         161 |        1 |        165
         162 |        2 |        166
         163 |        1 |        167
         164 |        2 |        168
         165 |        2 |        169
         166 |        1 |        170
         167 |        2 |        171
         168 |        1 |        172
         169 |        2 |        173
         170 |        1 |        174
         171 |        2 |        175
         172 |        1 |        176
         173 |        1 |        177
         174 |        2 |        178
         175 |        1 |        179
         176 |        1 |        180
         177 |        2 |        181
         178 |        2 |        182
         179 |        1 |        183
         180 |        2 |        184
         181 |        2 |        185
         182 |        1 |        186
         183 |        2 |        187
         184 |        1 |        188
         185 |        1 |        189
         186 |        2 |        190
         187 |        2 |        191
         188 |        1 |        192
         189 |        1 |        193
         190 |        2 |        194
         191 |        1 |        195
         192 |        1 |        196
         193 |        2 |        197
         194 |        2 |        198
         195 |        1 |        199
         196 |        1 |        200
         197 |        2 |        201
         198 |        2 |        202
         199 |        2 |        203
         200 |        2 |        204
         201 |        1 |        205
         202 |        2 |        206
         203 |        1 |        207
         204 |        1 |        208
         205 |        2 |        209
         206 |        1 |        210
         207 |        1 |        211
         208 |        1 |        212
         209 |        2 |        213
         210 |        2 |        214
         211 |        1 |        215
         212 |        2 |        216
         213 |        1 |        217
         214 |        1 |        218
         215 |        2 |        219
         216 |        1 |        220
         217 |        2 |        221
         218 |        1 |        222
         219 |        2 |        223
         220 |        2 |        224
         221 |        1 |        225
         222 |        2 |        226
         223 |        1 |        227
         224 |        2 |        228
         225 |        1 |        229
         226 |        2 |        230
         227 |        1 |        231
         228 |        2 |        232
         229 |        1 |        233
         230 |        2 |        234
         231 |        1 |        235
         232 |        2 |        236
         233 |        2 |        237
         234 |        1 |        238
         235 |        1 |        239
         236 |        1 |        240
         237 |        1 |        241
         238 |        1 |        242
         239 |        2 |        243
         240 |        1 |        244
         241 |        2 |        245
         242 |        1 |        246
         243 |        1 |        247
         244 |        2 |        248
         245 |        1 |        249
         246 |        1 |        250
         247 |        1 |        251
         248 |        1 |        252
         249 |        2 |        253
         250 |        2 |        254
         251 |        2 |        255
         252 |        2 |        256
         253 |        1 |        258
         254 |        2 |        259
         255 |        2 |        260
         256 |        2 |        261
         257 |        2 |        262
         258 |        1 |        263
         259 |        2 |        264
         260 |        1 |        265
         261 |        1 |        266
         262 |        2 |        267
         263 |        1 |        268
         264 |        1 |        269
         265 |        2 |        270
         266 |        2 |        271
         267 |        1 |        272
         268 |        1 |        273
         269 |        1 |        274
         270 |        1 |        275
         271 |        1 |        276
         272 |        1 |        277
         273 |        2 |        278
         274 |        1 |        279
         275 |        2 |        280
         276 |        1 |        281
         277 |        2 |        282
         278 |        2 |        283
         279 |        2 |        284
         280 |        2 |        285
         281 |        2 |        286
         282 |        2 |        287
         283 |        1 |        288
         284 |        1 |        289
         285 |        1 |        290
         286 |        1 |        291
         287 |        2 |        292
         288 |        1 |        293
         289 |        1 |        294
         290 |        1 |        295
         291 |        1 |        296
         292 |        2 |        297
         293 |        2 |        298
         294 |        2 |        299
         295 |        1 |        300
         296 |        2 |        301
         297 |        1 |        302
         298 |        1 |        303
         299 |        2 |        304
         300 |        1 |        305
         301 |        2 |        306
         302 |        1 |        307
         303 |        2 |        308
         304 |        2 |        309
         305 |        1 |        310
         306 |        1 |        311
         307 |        2 |        312
         308 |        1 |        313
         309 |        1 |        314
         310 |        2 |        315
         311 |        2 |        316
         312 |        2 |        317
         313 |        2 |        318
         314 |        1 |        319
         315 |        2 |        320
         316 |        1 |        321
         317 |        2 |        322
         318 |        1 |        323
         319 |        2 |        324
         320 |        2 |        325
         321 |        1 |        326
         322 |        1 |        327
         323 |        2 |        328
         324 |        2 |        329
         325 |        1 |        330
         326 |        1 |        331
         327 |        2 |        332
         328 |        2 |        333
         329 |        2 |        334
         330 |        1 |        335
         331 |        1 |        336
         332 |        1 |        337
         333 |        2 |        338
         334 |        2 |        339
         335 |        1 |        340
         336 |        1 |        341
         337 |        1 |        342
         338 |        1 |        343
         339 |        2 |        344
         340 |        1 |        345
         341 |        1 |        346
         342 |        1 |        347
         343 |        1 |        348
         344 |        1 |        349
         345 |        1 |        350
         346 |        1 |        351
         347 |        2 |        352
         348 |        2 |        353
         349 |        2 |        354
         350 |        1 |        355
         351 |        1 |        356
         352 |        1 |        357
         353 |        1 |        358
         354 |        2 |        359
         355 |        2 |        360
         356 |        2 |        361
         357 |        1 |        362
         358 |        2 |        363
         359 |        2 |        364
         360 |        2 |        365
         361 |        2 |        366
         362 |        1 |        367
         363 |        2 |        368
         364 |        1 |        369
         365 |        2 |        370
         366 |        1 |        371
         367 |        1 |        372
         368 |        1 |        373
         369 |        2 |        374
         370 |        2 |        375
         371 |        1 |        376
         372 |        2 |        377
         373 |        1 |        378
         374 |        2 |        379
         375 |        2 |        380
         376 |        1 |        381
         377 |        1 |        382
         378 |        1 |        383
         379 |        1 |        384
         380 |        1 |        385
         381 |        2 |        386
         382 |        2 |        387
         383 |        1 |        388
         384 |        2 |        389
         385 |        1 |        390
         386 |        1 |        391
         387 |        2 |        392
         388 |        2 |        393
         389 |        1 |        394
         390 |        1 |        395
         391 |        1 |        396
         392 |        2 |        397
         393 |        1 |        398
         394 |        2 |        399
         395 |        2 |        400
         396 |        1 |        401
         397 |        1 |        402
         398 |        1 |        403
         399 |        1 |        404
         400 |        2 |        405
         401 |        2 |        406
         402 |        1 |        407
         403 |        1 |        408
         404 |        2 |        409
         405 |        1 |        410
         406 |        1 |        411
         407 |        1 |        412
         408 |        1 |        413
         409 |        2 |        414
         410 |        2 |        415
         411 |        1 |        416
         412 |        2 |        417
         413 |        2 |        418
         414 |        1 |        419
         415 |        1 |        420
         416 |        2 |        421
         417 |        1 |        422
         418 |        2 |        423
         419 |        1 |        424
         420 |        1 |        425
         421 |        1 |        426
         422 |        1 |        427
         423 |        2 |        428
         424 |        2 |        429
         425 |        2 |        430
         426 |        1 |        431
         427 |        2 |        432
         428 |        2 |        433
         429 |        2 |        434
         430 |        1 |        435
         431 |        2 |        436
         432 |        1 |        437
         433 |        1 |        438
         434 |        1 |        439
         435 |        2 |        440
         436 |        1 |        441
         437 |        2 |        442
         438 |        1 |        443
         439 |        2 |        444
         440 |        1 |        445
         441 |        1 |        446
         442 |        1 |        447
         443 |        2 |        448
         444 |        2 |        449
         445 |        1 |        450
         446 |        2 |        451
         447 |        1 |        452
         448 |        1 |        453
         449 |        2 |        454
         450 |        1 |        455
         451 |        1 |        456
         452 |        1 |        457
         453 |        1 |        458
         454 |        2 |        459
         455 |        2 |        460
         456 |        2 |        461
         457 |        2 |        462
         458 |        1 |        463
         459 |        1 |        464
         460 |        1 |        465
         461 |        1 |        466
         462 |        2 |        467
         463 |        2 |        468
         464 |        1 |        469
         465 |        1 |        470
         466 |        1 |        471
         467 |        2 |        472
         468 |        1 |        473
         469 |        2 |        474
         470 |        1 |        475
         471 |        1 |        476
         472 |        1 |        477
         473 |        2 |        478
         474 |        2 |        479
         475 |        2 |        480
         476 |        1 |        481
         477 |        1 |        482
         478 |        1 |        483
         479 |        1 |        484
         480 |        1 |        485
         481 |        1 |        486
         482 |        1 |        487
         483 |        2 |        488
         484 |        1 |        489
         485 |        1 |        490
         486 |        1 |        491
         487 |        2 |        492
         488 |        2 |        493
         489 |        1 |        494
         490 |        1 |        495
         491 |        2 |        496
         492 |        2 |        497
         493 |        1 |        498
         494 |        2 |        499
         495 |        2 |        500
         496 |        2 |        501
         497 |        2 |        502
         498 |        1 |        503
         499 |        2 |        504
         500 |        1 |        505
         501 |        1 |        506
         502 |        1 |        507
         503 |        1 |        508
         504 |        1 |        509
         505 |        1 |        510
         506 |        2 |        511
         507 |        2 |        512
         508 |        2 |        513
         509 |        1 |        514
         510 |        2 |        515
         511 |        1 |        516
         512 |        1 |        517
         513 |        2 |        519
         514 |        2 |        520
         515 |        1 |        521
         516 |        2 |        522
         517 |        2 |        523
         518 |        1 |        524
         519 |        2 |        525
         520 |        2 |        526
         521 |        2 |        527
         522 |        2 |        528
         523 |        1 |        529
         524 |        1 |        530
         525 |        2 |        531
         526 |        2 |        532
         527 |        1 |        533
         528 |        1 |        534
         529 |        2 |        535
         530 |        2 |        536
         531 |        2 |        537
         532 |        2 |        538
         533 |        1 |        539
         534 |        1 |        540
         535 |        1 |        541
         536 |        2 |        542
         537 |        2 |        543
         538 |        2 |        544

In [9]:
!psql -c "select language_id, original_language_id, film_id from pagila.film order by original_language_id DESC limit 30"

 language_id | original_language_id | film_id
-------------+----------------------+---------
           1 |                      |       1
           1 |                      |       2
           1 |                      |       3
           1 |                      |       4
           1 |                      |       5
           1 |                      |       6
           1 |                      |       7
           1 |                      |       8
           1 |                      |       9
           1 |                      |      10
           1 |                      |      11
           1 |                      |      12
           1 |                      |     213
           1 |                      |      13
           1 |                      |      14
           1 |                      |      15
           1 |                      |      16
           1 |                      |      17
           1 |                      |      18
           1 |                      |      19
           1 |                      |      20
           1 |                      |      21
           1 |                      |      22
           1 |                      |      23
           1 |                      |      24
           1 |                      |      25
           1 |                      |      26
           1 |                      |      27
           1 |                      |      28
           1 |                      |      29
(30 rows)

In [1]:
!psql -c "select * from pagila.film_actor order by film_id limit 30"

 actor_id | film_id |      last_update
----------+---------+------------------------
      198 |       1 | 2017-02-15 10:05:03+00
      188 |       1 | 2017-02-15 10:05:03+00
      162 |       1 | 2017-02-15 10:05:03+00
      108 |       1 | 2017-02-15 10:05:03+00
       53 |       1 | 2017-02-15 10:05:03+00
       40 |       1 | 2017-02-15 10:05:03+00
       30 |       1 | 2017-02-15 10:05:03+00
       20 |       1 | 2017-02-15 10:05:03+00
       10 |       1 | 2017-02-15 10:05:03+00
        1 |       1 | 2017-02-15 10:05:03+00
      160 |       2 | 2017-02-15 10:05:03+00
       90 |       2 | 2017-02-15 10:05:03+00
       85 |       2 | 2017-02-15 10:05:03+00
       19 |       2 | 2017-02-15 10:05:03+00
      123 |       3 | 2017-02-15 10:05:03+00
       64 |       3 | 2017-02-15 10:05:03+00
       24 |       3 | 2017-02-15 10:05:03+00
       19 |       3 | 2017-02-15 10:05:03+00
        2 |       3 | 2017-02-15 10:05:03+00
      162 |       4 | 2017-02-15 10:05:03+00
      147 |       4 | 2017-02-15 10:05:03+00
       88 |       4 | 2017-02-15 10:05:03+00
       81 |       4 | 2017-02-15 10:05:03+00
       41 |       4 | 2017-02-15 10:05:03+00
      200 |       5 | 2017-02-15 10:05:03+00
      181 |       5 | 2017-02-15 10:05:03+00
      103 |       5 | 2017-02-15 10:05:03+00
       59 |       5 | 2017-02-15 10:05:03+00
       51 |       5 | 2017-02-15 10:05:03+00
      197 |       6 | 2017-02-15 10:05:03+00
(30 rows)

In [3]:
!psql -c "select * from pagila.film_category order by category_id limit 30"

 film_id | category_id |      last_update
---------+-------------+------------------------
     287 |           1 | 2017-02-15 10:07:09+00
     329 |           1 | 2017-02-15 10:07:09+00
     212 |           1 | 2017-02-15 10:07:09+00
     271 |           1 | 2017-02-15 10:07:09+00
     303 |           1 | 2017-02-15 10:07:09+00
     327 |           1 | 2017-02-15 10:07:09+00
     162 |           1 | 2017-02-15 10:07:09+00
     210 |           1 | 2017-02-15 10:07:09+00
     229 |           1 | 2017-02-15 10:07:09+00
     253 |           1 | 2017-02-15 10:07:09+00
     115 |           1 | 2017-02-15 10:07:09+00
     292 |           1 | 2017-02-15 10:07:09+00
     205 |           1 | 2017-02-15 10:07:09+00
     318 |           1 | 2017-02-15 10:07:09+00
     130 |           1 | 2017-02-15 10:07:09+00
     105 |           1 | 2017-02-15 10:07:09+00
      97 |           1 | 2017-02-15 10:07:09+00
      19 |           1 | 2017-02-15 10:07:09+00
     126 |           1 | 2017-02-15 10:07:09+00
      21 |           1 | 2017-02-15 10:07:09+00
     250 |           1 | 2017-02-15 10:07:09+00
     252 |           1 | 2017-02-15 10:07:09+00
      67 |           1 | 2017-02-15 10:07:09+00
      38 |           1 | 2017-02-15 10:07:09+00
      56 |           1 | 2017-02-15 10:07:09+00
     194 |           1 | 2017-02-15 10:07:09+00
     111 |           1 | 2017-02-15 10:07:09+00
      29 |           1 | 2017-02-15 10:07:09+00
     371 |           1 | 2017-02-15 10:07:09+00
     360 |           1 | 2017-02-15 10:07:09+00
(30 rows)

In [11]:
!psql -c "select * from pagila.inventory limit 30"

 inventory_id | film_id | store_id |      last_update
--------------+---------+----------+------------------------
            1 |       1 |        1 | 2017-02-15 10:09:17+00
            2 |       1 |        1 | 2017-02-15 10:09:17+00
            3 |       1 |        1 | 2017-02-15 10:09:17+00
            4 |       1 |        1 | 2017-02-15 10:09:17+00
            5 |       1 |        2 | 2017-02-15 10:09:17+00
            6 |       1 |        2 | 2017-02-15 10:09:17+00
            7 |       1 |        2 | 2017-02-15 10:09:17+00
            8 |       1 |        2 | 2017-02-15 10:09:17+00
            9 |       2 |        2 | 2017-02-15 10:09:17+00
           10 |       2 |        2 | 2017-02-15 10:09:17+00
           11 |       2 |        2 | 2017-02-15 10:09:17+00
           12 |       3 |        2 | 2017-02-15 10:09:17+00
           13 |       3 |        2 | 2017-02-15 10:09:17+00
           14 |       3 |        2 | 2017-02-15 10:09:17+00
           15 |       3 |        2 | 2017-02-15 10:09:17+00
           16 |       4 |        1 | 2017-02-15 10:09:17+00
           17 |       4 |        1 | 2017-02-15 10:09:17+00
           18 |       4 |        1 | 2017-02-15 10:09:17+00
           19 |       4 |        1 | 2017-02-15 10:09:17+00
           20 |       4 |        2 | 2017-02-15 10:09:17+00
           21 |       4 |        2 | 2017-02-15 10:09:17+00
           22 |       4 |        2 | 2017-02-15 10:09:17+00
           23 |       5 |        2 | 2017-02-15 10:09:17+00
           24 |       5 |        2 | 2017-02-15 10:09:17+00
           25 |       5 |        2 | 2017-02-15 10:09:17+00
           26 |       6 |        1 | 2017-02-15 10:09:17+00
           27 |       6 |        1 | 2017-02-15 10:09:17+00
           28 |       6 |        1 | 2017-02-15 10:09:17+00
           29 |       6 |        2 | 2017-02-15 10:09:17+00
           30 |       6 |        2 | 2017-02-15 10:09:17+00
(30 rows)

In [13]:
!psql -c "select * from pagila.language limit 30"

 language_id |         name         |      last_update
-------------+----------------------+------------------------
           1 | English              | 2017-02-15 10:02:19+00
           2 | Italian              | 2017-02-15 10:02:19+00
           3 | Japanese             | 2017-02-15 10:02:19+00
           4 | Mandarin             | 2017-02-15 10:02:19+00
           5 | French               | 2017-02-15 10:02:19+00
           6 | German               | 2017-02-15 10:02:19+00
(6 rows)

In [14]:
!psql -c "select * from pagila.payment limit 30"

 payment_id | customer_id | staff_id | rental_id | amount |         payment_date
------------+-------------+----------+-----------+--------+-------------------------------
      16050 |         269 |        2 |         7 |   1.99 | 2017-01-24 21:40:19.996577+00
      16051 |         269 |        1 |        98 |   0.99 | 2017-01-25 15:16:50.996577+00
      16052 |         269 |        2 |       678 |   6.99 | 2017-01-28 21:44:14.996577+00
      16053 |         269 |        2 |       703 |   0.99 | 2017-01-29 00:58:02.996577+00
      16054 |         269 |        1 |       750 |   4.99 | 2017-01-29 08:10:06.996577+00
      16055 |         269 |        2 |      1099 |   2.99 | 2017-01-31 12:23:14.996577+00
      16056 |         270 |        1 |       193 |   1.99 | 2017-01-26 05:10:14.996577+00
      16057 |         270 |        1 |      1040 |   4.99 | 2017-01-31 04:03:42.996577+00
      16058 |         271 |        1 |      1096 |   8.99 | 2017-01-31 11:59:15.996577+00
      16059 |         272 |        1 |        33 |   0.99 | 2017-01-25 02:47:17.996577+00
      16060 |         272 |        1 |       405 |   6.99 | 2017-01-27 12:01:05.996577+00
      16061 |         272 |        1 |      1041 |   6.99 | 2017-01-31 04:14:49.996577+00
      16062 |         272 |        1 |      1072 |   0.99 | 2017-01-31 08:21:16.996577+00
      16063 |         273 |        2 |       122 |   3.99 | 2017-01-25 18:14:47.996577+00
      16064 |         273 |        2 |       980 |   0.99 | 2017-01-30 20:13:45.996577+00
      16065 |         274 |        1 |       147 |   2.99 | 2017-01-25 22:46:16.996577+00
      16066 |         274 |        1 |       208 |   4.99 | 2017-01-26 06:38:48.996577+00
      16067 |         274 |        2 |       301 |   2.99 | 2017-01-26 19:34:40.996577+00
      16068 |         274 |        1 |       394 |   5.99 | 2017-01-27 09:54:37.996577+00
      16069 |         274 |        2 |       474 |   2.99 | 2017-01-27 20:40:22.996577+00
      16070 |         274 |        1 |       892 |   4.99 | 2017-01-30 06:31:22.996577+00
      16071 |         275 |        2 |       336 |   2.99 | 2017-01-27 01:43:49.996577+00
      16072 |         276 |        1 |       736 |   3.99 | 2017-01-29 06:38:33.996577+00
      16073 |         276 |        1 |       860 |  10.99 | 2017-01-30 01:13:42.996577+00
      16074 |         277 |        2 |       308 |   6.99 | 2017-01-26 20:30:05.996577+00
      16075 |         278 |        1 |      1092 |   4.99 | 2017-01-31 10:44:23.996577+00
      16076 |         279 |        1 |       979 |   2.99 | 2017-01-30 20:05:37.996577+00
      16077 |         279 |        2 |      1019 |   0.99 | 2017-01-31 01:33:33.996577+00
      16078 |         280 |        1 |      1014 |   4.99 | 2017-01-31 01:07:42.996577+00
      16079 |         281 |        2 |       650 |   2.99 | 2017-01-28 18:14:06.996577+00
(30 rows)

In [28]:
!psql -c "select rental_id, inventory_id, customer_id, staff_id, rental_date from pagila.rental order by staff_id DESC limit 30"

 rental_id | inventory_id | customer_id | staff_id |      rental_date
-----------+--------------+-------------+----------+------------------------
        46 |         3318 |           7 |        2 | 2005-05-25 06:04:08+00
        57 |         3938 |           6 |        2 | 2005-05-25 08:43:32+00
        42 |          380 |         523 |        2 | 2005-05-25 05:24:58+00
        45 |         1853 |         436 |        2 | 2005-05-25 05:59:39+00
        50 |         1983 |          18 |        2 | 2005-05-25 06:44:53+00
        54 |         2787 |         291 |        2 | 2005-05-25 07:23:25+00
        35 |         1286 |         484 |        2 | 2005-05-25 04:24:36+00
        39 |         4466 |         207 |        2 | 2005-05-25 04:51:46+00
        11 |         4443 |         142 |        2 | 2005-05-25 00:09:02+00
        44 |         3098 |         207 |        2 | 2005-05-25 05:53:23+00
        49 |         2965 |         498 |        2 | 2005-05-25 06:39:35+00
         4 |         2452 |         333 |        2 | 2005-05-24 23:04:41+00
        52 |         4017 |         507 |        2 | 2005-05-25 06:51:29+00
        53 |         1255 |         569 |        2 | 2005-05-25 07:19:16+00
        34 |         2613 |         597 |        2 | 2005-05-25 04:19:28+00
        18 |         3376 |          19 |        2 | 2005-05-25 01:10:47+00
        10 |         1824 |         399 |        2 | 2005-05-25 00:02:21+00
        20 |         3517 |         185 |        2 | 2005-05-25 01:48:41+00
        21 |          146 |         388 |        2 | 2005-05-25 01:59:46+00
        22 |          727 |         509 |        2 | 2005-05-25 02:19:23+00
        12 |         1584 |         261 |        2 | 2005-05-25 00:19:27+00
        43 |         2578 |         532 |        2 | 2005-05-25 05:39:25+00
        25 |         3961 |          37 |        2 | 2005-05-25 03:21:20+00
         7 |         3995 |         269 |        2 | 2005-05-24 23:11:53+00
        27 |         1225 |         301 |        2 | 2005-05-25 03:41:50+00
        28 |         4068 |         232 |        2 | 2005-05-25 03:42:37+00
        29 |          611 |          44 |        2 | 2005-05-25 03:47:12+00
         8 |         2346 |         239 |        2 | 2005-05-24 23:31:46+00
        16 |          389 |         316 |        2 | 2005-05-25 00:43:11+00
        61 |         4210 |         250 |        2 | 2005-05-25 09:01:57+00
(30 rows)

In [27]:
!psql -c "select staff_id, first_name, last_name, address_id, store_id from pagila.staff limit 30"

 staff_id | first_name | last_name | address_id | store_id
----------+------------+-----------+------------+----------
        1 | Mike       | Hillyer   |          3 |        1
        2 | Jon        | Stephens  |          4 |        2
(2 rows)

In [17]:
!psql -c "select * from pagila.store limit 30"

 store_id | manager_staff_id | address_id |      last_update
----------+------------------+------------+------------------------
        1 |                1 |          1 | 2017-02-15 09:57:12+00
        2 |                2 |          2 | 2017-02-15 09:57:12+00
(2 rows)